// Font family
$default: "Roboto", sans-serif;

// Font weight
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

// Colors
$primary: #ff7214;
$secondary: #233646;

// Common transition
$transition: all 300ms ease-in-out;
